.Clock {
  width: 130px;
  height: 50px;
  padding: 10px 0;
  color: violet;
  border: 2px solid violet;
  border-radius: 15px;
  background-color: bisque;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 8px 0;
}
